/* Navbar.css */
.navbar {
    background: linear-gradient(90deg, #0f2a4b, #0a6f9d, #16a085);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

}

.links {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.heading {
    font-size: 10px;
    margin: 0;
    text-decoration: none !important;
}

.wallet-button {
    background-color: #007bff;
    /* Bootstrap primary blue color */
    color: #ffffff;
    /* White text color */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.wallet-button:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}