/* ShimmerPlaceholder.css */
.shimmer-placeholder {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.shimmer-placeholder-item {
    background: linear-gradient(90deg, #0f2a4b 25%, #0a6f9d 50%, #16a085 75%);
    /* background: linear-gradient(90deg, #0f2a4b, #0a6f9d, #16a085); */
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
    width: 100%;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}